:root {
  --transition: all 0.3s ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, pink, white);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

svg {
  display: grid;
  place-items: center;
}
img {
  display: block;
}

h1 {
  text-align: center;
  color: rgb(103, 97, 97);
}

.title {
  text-transform: capitalize;
}

.music-container {
  position: relative;
  margin-top: 8rem;
  /* z-index: 2; */
}
.music {
  position: relative;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem 0 rgb(252, 169, 169, 0.6);
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 7rem;
}
.img-container img {
  border-radius: 50%;
  border: 1px solid gray;
  width: 100%;
  height: 7rem;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.img-container::after {
  position: absolute;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: gray;
  bottom: 3.5rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.action-btn {
  background: white;
  border: transparent;
  color: #ad2cad;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.5rem;
}
.action-btn-big {
  color: #9f21c2;
  font-size: 1.75rem;
}

.music-info {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 1rem 1rem 0 0;
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  padding: 0.5rem;
  padding-left: 9rem;
  transition: var(--transition);
  opacity: 0;
  z-index: 5;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background: white;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 0;
  width: 100%;
  height: 0.25rem;
}

.progress {
  background: #fe8daa;
  border-radius: 0.25rem;
  height: 100%;
  width: 0%;
  transition: var(--transition);
}
